extends layout

include mixins/_pagination

block content
	.layout.layout--narrow
		.page-title
			h1.page-title__title= title
			.page-title__extra
				a.button(href="/treks/create") 
					+svgIcon('add')
					| New Trek

		.area
			.table-wrap: table
				thead
					tr
						th Title
						th Start Date
						th End Date
						th Show on Site
				each trek in treks
					tr
						td: a(href="/treks/" + trek._id) #{trek.title}
						td= h.moment(trek.startDate).format('MMMM Do, YYYY')
						td= h.moment(trek.endDate).format('MMMM Do, YYYY')
						td= trek.isPublished
				else
					tr: td.fine-print There are no treks.

			+pagination('treks', page, pages, count)